<!-- login.component.html -->
<div class="login-container">
  <div class="background-container">
    <img src="./assets/background.svg" alt="Background" class="background-svg">
  </div>

  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="formGroup!">
        <mat-form-field fxFlex>
          <input matInput type="text" maxlength="64" formControlName="username" required autoFocus>
        </mat-form-field>

        <mat-form-field fxFlex>
          <input matInput
                 formControlName="password"
                 minlength="4"
                 maxlength="64"
                 required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <button type="button" (click)="login()">Login</button>
  </mat-card>
</div>
