<!-- login.component.html -->
<div class="login-container">
  <div class="background-container">
    <img src="./assets/background.svg" alt="Background" class="background-svg">
  </div>

  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form>
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" type="email" required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Password" type="password" required>
        </mat-form-field>

        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Entrar</button>
          <button mat-raised-button type="button" color="warn">Cancelar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
